---
title: AI Testing & Verification

description: |
  Neural networks can be (arguably) viewed a different paradigm of programming, where logical reasoning is replaced with big data and optimization. Unlike traditional programs, however, neural networks are subject to bugs, e.g., adversarial samples and discriminatory instances. In this line of work, we aim to develop systematic theories, methods and tools to improve the quality of AI-systems.

people:
  - prof-sunjun
  - phd-mengdi

layout: project
last-updated: 2021-05-24
---

Proin massa augue, eleifend non ultricies eget, feugiat ut nisl. Fusce at
aliquet justo, id elementum lacus. Praesent eleifend tempus molestie. Nunc
vulputate sed tortor a ultrices. Nullam blandit hendrerit nisi, at suscipit
augue ultricies quis. Nulla tincidunt rhoncus nisl sed consectetur. Phasellus
dapibus, leo in varius tempus, nibh velit tincidunt lacus, ut porta eros ex et
eros. Ut diam purus, sagittis vitae cursus eu, molestie eget turpis. Sed
consectetur magna in posuere faucibus. Morbi nibh eros, blandit ut vehicula ac,
pellentesque ut urna.

Maecenas scelerisque ut enim non convallis. Mauris ut nisl vitae mi dictum
mollis. Pellentesque iaculis lacinia nisl viverra laoreet. Integer ac lacus quis
elit varius mollis et ultrices tortor. Aliquam id dolor cursus, sagittis arcu
tincidunt, scelerisque nisi. Morbi scelerisque feugiat mi in faucibus. Maecenas
suscipit aliquet est et efficitur. Nullam sed purus nec nulla placerat ultrices
ac at ipsum. Mauris a imperdiet eros.

Aenean malesuada tellus nulla, ut ultrices purus dictum et. Nunc non eleifend
nulla, ut luctus nulla. Nulla et accumsan odio. Fusce libero nisl, rutrum ac
risus sit amet, interdum feugiat eros. Morbi semper scelerisque magna vel
malesuada. Curabitur in blandit orci. Cras eu tincidunt odio. Sed consectetur
nunc purus, id pharetra felis fermentum vitae. Sed rhoncus lacus lacus. Aenean a
ante et quam viverra pharetra interdum id ligula. Vestibulum lobortis ipsum ac
risus sagittis, non dapibus metus finibus. Quisque efficitur felis sed felis
luctus, non egestas ex dapibus. Sed pharetra gravida augue, id posuere nunc
fringilla eget.
